[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
pep8 = "*"
pytest = "*"
flake8 = "*"

[packages]
django = "==2.2.22"
djangorestframework = "*"
requests = "*"
python-dotenv = "*"
django-axes = "*"
djangorestframework-simplejwt = "*"
django-amazon-ses = "*"
pyyaml = "*"
mysqlclient = "*"
simplejson = "*"
urllib3 = "*"
python-logstash = "*"
selenium = "*"
openpyxl = "*"

[requires]
python_version = "3.6"
